*{
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url('image/background.jpg');
    height: 100%;
    width: 100%;
    transition: opacity 2s;
}

h5{
    color: #998DA0;
    font-weight: bold;
}

h4{
    text-align: center;
    font-weight: bold;
}

.textboxid{
    border-radius: 10px;
    width: 70%;
    padding: 5px;
    margin-top: 10px;
}

.btnmenu{
    background-color:#c4e7d4;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

.inputlogin{
    border-radius: 20px;
    width: 90%;
    margin-bottom: 5px;
    padding: 10px;
}

.col-sm-5{
  text-align: right;
  padding-right: 20px;
}

.col-sm-3{
    text-align:left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form{
    margin-top: 40px;
    background-color:#998DA0;
    border-radius: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.containerlogin{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    opacity:0.9;   
    padding: 20px;
    position: absolute;
    height: fit-content;
    width: 70%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.container{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    opacity:0.9;   
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.col-4{
    background-color: #998DA0;
    color: white;
    height: 900px;
    flex: inherit;
    max-height: 100%;
    padding: 30px;
}

.col-8{
    padding-top: 20px;
    max-height: 100%;
    height: 100%;
}

nav, footer {
    background-color: #63585E;
    padding: 10px 0;
    color: white;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

.news{
    padding:20px;
    text-align: left;
}

.desc{
    background-color: #63585E;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px dashed #000000;
    margin-bottom: 20px;
}

div#login{
    align-items: center;
    padding: 20px;
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.bi::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}

